<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceClient" />
                <binding name="BasicHttpBinding_IServiceEmpleado" />
                <binding name="BasicHttpBinding_IServiceHorario" />
                <binding name="BasicHttpBinding_IServiceServicios" />
                <binding name="BasicHttpBinding_IServiceSolicitud" />
                <binding name="BasicHttpBinding_IServiceUsuario" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59230/ServiceClient.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceClient"
                contract="ServiceClient.IServiceClient" name="BasicHttpBinding_IServiceClient" />
            <endpoint address="http://localhost:59230/ServiceEmpleado.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceEmpleado"
                contract="ServiceEmpleado.IServiceEmpleado" name="BasicHttpBinding_IServiceEmpleado" />
            <endpoint address="http://localhost:59230/ServiceHorario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceHorario"
                contract="ServiceHorario.IServiceHorario" name="BasicHttpBinding_IServiceHorario" />
            <endpoint address="http://localhost:59230/ServiceServicios.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceServicios"
                contract="ServiceServicios.IServiceServicios" name="BasicHttpBinding_IServiceServicios" />
            <endpoint address="http://localhost:59230/ServiceSolicitud.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceSolicitud"
                contract="ServiceSolicitud.IServiceSolicitud" name="BasicHttpBinding_IServiceSolicitud" />
            <endpoint address="http://localhost:59230/ServiceUsuario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceUsuario"
                contract="ServiceUsuario.IServiceUsuario" name="BasicHttpBinding_IServiceUsuario" />
        </client>
    </system.serviceModel>
</configuration>