             </div>
            </div>
        </div>
    </div>

<script>

    var parametros = {
        mensajeEspera: 'Espere un momento por favor...',
        tituloPopupMensaje: 'Informaci&oacute;n',
        tituloPopupComfirmacion: 'Confirmaci&oacute;n',
        tituloEliminacionPopupMensaje: 'Eliminaci&oacute;n',
        mensajePopupConfirmacion: '&#191;Est&aacute; seguro de continuar con este proceso?',
        mensajePopupEliminacionConfirmacion: '&#191;Est&aacute; seguro de continuar con este proceso?',
        btnCancelar: 'Cancelar',
        btnAceptar: 'Aceptar',
        formatoFecha: 'dd/MM/yyyy hh:mm'
    };
</script>
</body>

</html>
