
@{
    ViewBag.Title = "RegistroFechaEntrega";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <!-- Calender css -->
    <link rel="stylesheet" type="text/css" href="~/bower_components/fullcalendar/css/fullcalendar.css">
    <link rel="stylesheet" type="text/css" href="~/bower_components/fullcalendar/css/fullcalendar.print.css" media='print'>

}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper full-calender">
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Full Calender</h4>
                                    <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index-1.htm"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Widget</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <h5>Calendario de citass</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="feather icon-maximize full-card"></i></li>
                                    <li><i class="feather icon-minus minimize-card"></i></li>
                                    <li><i class="feather icon-trash-2 close-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-xl-2 col-md-12">
                                    <div id="external-events">
                                        <h6 class="m-b-30 m-t-20">Solicitudes pendientes</h6>
                                        <div class="fc-event ui-draggable ui-draggable-handle">Solicitud 1</div>
                                        <div class="fc-event ui-draggable ui-draggable-handle">Solicitud 2</div>
                                        <div class="fc-event ui-draggable ui-draggable-handle">Solicitud 3</div>
                                        <div class="fc-event ui-draggable ui-draggable-handle">Solicitud 4</div>
                                        <div class="fc-event ui-draggable ui-draggable-handle">Solicitud 5</div>
                                        <div class="checkbox-fade fade-in-primary m-t-10">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr">
                                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                </span>
                                                <span>Remove After Drop</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-10 col-md-12">
                                    <div id='calendar'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-error">
                    <div class="card text-center">
                        <div class="card-block">
                            <div class="m-t-10">
                                <i class="icofont icofont-warning text-white bg-c-yellow"></i>
                                <h4 class="f-w-600 m-t-25">Not supported</h4>
                                <p class="text-muted m-b-0">Full Calender not supported in this device</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/feather/css/feather.css">

    <!-- calender js -->
    <script type="text/javascript" src="~/bower_components/moment/js/moment.min.js"></script>
    <script type="text/javascript" src="~/bower_components/fullcalendar/js/fullcalendar.min.js"></script>


    <!-- Custom js -->
    <script type="text/javascript" src="~/assets/pages/full-calender/calendar.js"></script>
 
}